<article>
    <h4>Terms of Service (ToS)</h4>
    <p>Welcome! By using Art Shelter, you agree to the following:</p>

    <h6>Content Rules</h6>
    <ul>
        <li>Only original artwork is allowed. No stolen, plagiarized, or copyrighted work.</li>
        <li>All posts must be fan art related to Rain World.</li>
        <li>No NSFW, offensive, or illegal content.</li>
        <li>No AI-generated artwork.</li>
    </ul>

    <h6>Age Requirements</h6>
    <p>You may use the Service if you are at least 14 years old</p>

    <h6>Intellectual Property</h6>
    <p>
        You retain ownership of your original work, but by posting, you grant Art Shelter a license
        to display it on the platform.
    </p>

    <h6>Termination & Enforcement</h6>
    <p>
        I reserve the right to remove content or terminate accounts at my discretion for rule
        violations.
    </p>

    <h6>Liability</h6>
    <p>Art Shelter is not responsible for user content or any issues arising from its use.</p>

    <h6>Changes</h6>
    <p>I may update these Terms at any time. Continued use means you accept the updates.</p>
</article>
