<h6>Please fill out the form below</h6>

<section>
   <mat-form-field>
      <mat-label>Name</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput />
   </mat-form-field>
</section>

<section>
   <mat-form-field>
      <mat-label>Title</mat-label>
      <mat-icon matPrefix>title</mat-icon>
      <input matInput />
   </mat-form-field>
</section>

<section>
   <mat-form-field>
      <mat-label>Message</mat-label>
      <mat-icon matPrefix>message</mat-icon>
      <textarea matInput></textarea>
   </mat-form-field>
</section>

<div>
   <button mat-flat-button>Send</button>
</div>
