<mat-card class="card" appearance="outlined">
    <img
        class="img"
        [ngSrc]="post().imageId"
        fill
        placeholder
        priority
        alt="Preview"
        (click)="openFullscreen()" />

    <div class="description">
        <mat-list-item>
            <span matListItemTitle>{{ post().title }}</span>
            <span matListItemLine>{{ post().description }}</span>
            <span matListItemLine>{{ post().author.username }}</span>
        </mat-list-item>

        <button matIconButton (click)="upvote()">
            @if (!post().upvoted) {
                <mat-icon>favorite_outlined</mat-icon>
            } @else {
                <mat-icon class="icon-primary">favorite</mat-icon>
            }
        </button>
    </div>
</mat-card>
