.card {
    width: inherit;
    height: inherit;
    flex-shrink: 0;
    overflow: hidden;

    .img {
        object-fit: cover;
        transition: filter 200ms;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }
    }

    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}
