.card {
    width: inherit;
    height: inherit;
    flex-shrink: 0;
    overflow: hidden;

    .img {
        object-fit: cover;
        transition: filter 200ms;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }
    }

    .description {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
    }
}
