<form [formGroup]="form" (submit)="login()">
    <div class="form-fields">
        <mat-form-field>
            <mat-icon matPrefix>person</mat-icon>
            <mat-label>Username</mat-label>
            <input matInput [formControl]="form.controls.username" />
            <mat-error [appFormError]="form.controls.username"></mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-icon matPrefix>key</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="form.controls.password" />
            <mat-error [appFormError]="form.controls.password">Field is required</mat-error>
        </mat-form-field>

        @if (errorMessage()) {
            <p class="text-error">{{ errorMessage() }}</p>
        }
    </div>

    <div class="fx-center mg-1">
        <button
            id="submit-button"
            mat-flat-button
            type="submit"
            [appLoading]="loading() || form.pending"
            [disabled]="loading() || form.invalid || form.pending">
            Login
        </button>
    </div>

    <mat-divider inset />

    <div class="fx-col mg-1" style="width: fit-content">
        <a id="recovery-button" matButton routerLink="/auth/recovery">Forgot password?</a>
        <a id="signup-button" matButton routerLink="/auth/signup">Create an account</a>
    </div>
</form>
