{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "bracketSameLine": true,
    "printWidth": 90,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "htmlWhitespaceSensitivity": "css",
                "printWidth": 100,
                "parser": "angular"
            }
        }
    ]
}