.posts-container {
    margin: 1rem;
    display: flex;
    justify-content: safe center;
    gap: 1rem;

    overflow-x: auto;
    border-radius: 1rem;

    .img-card {
        width: 400px;
        height: 500px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .post-img {
        object-fit: cover;
        transition: filter 200ms;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }
    }

    .post-description {
        width: 100%;
        position: absolute;
        display: flex;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.4);
    }
}
