<h2 class="fx-center">Featured</h2>

<div class="posts-container">
    @if (featuredPosts.isLoading()) {
        <mat-spinner />
    } @else if (featuredPosts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts</p>
            <button matButton (click)="featuredPosts.reload()">Retry</button>
        </div>
    } @else {
        @for (post of featuredPosts.value(); track post.id) {
            <mat-card class="post-card" appearance="outlined">
                <img
                    class="post-img"
                    [ngSrc]="post.imageId"
                    fill
                    placeholder
                    priority
                    alt="Preview"
                    (click)="openFullscreenImage(post.imageId)" />

                <div class="post-description">
                    <mat-list-item>
                        <span matListItemTitle>{{ post.title }}</span>
                        <span matListItemLine>{{ post.description }}</span>
                        <span matListItemLine>{{ post.author.username }}</span>
                    </mat-list-item>

                    <div class="fx-align">
                        <button matIconButton>
                            <mat-icon>favorite_outlined</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        } @empty {
            <p>No posts found</p>
        }
    }
</div>
