.zoom-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    img {
        object-fit: contain;
        cursor: zoom-in;
        transform-origin: top left;
        transition: transform 0.2s ease-out;

        &.zoom {
            cursor: zoom-out;
            transform: scale(2);
        }
    }
}

.overlay {
    padding: 1rem;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
        pointer-events: all;
    }
}

.user-container {
    padding: 0.2rem;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        height: 42px;
        width: 42px;
    }

    span {
        margin: 0 10px;
    }
}

.title-container {
    padding: 1rem;

    .title {
        margin: 0 0 1rem;
        display: block;
    }
}

.user-container,
.close-btn,
.title-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
}

.user-container:hover,
.close-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.close-btn {
    background-color: rgba(0, 0, 0, 0.4);
}
