<div class="description-container">
    <div class="fx-row fx-align fx-gap-1">
        <span style="font-weight: 500">{{ post().title }}</span>

        <a matButton [routerLink]="[`/user/${post().author.username}`]">
            {{ post().author.username }}
        </a>

        <div style="flex: 1"></div>

        <button matIconButton (click)="toggleExpand()">
            <mat-icon>{{ isExpanded() ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </button>
    </div>

    <span class="description-text" [class.expanded]="isExpanded()">{{ post().description }}</span>
</div>

<div class="upvote-container">
    <button matIconButton (click)="upvote()">
        @if (!post().isUpvoted) {
            <mat-icon>favorite_outlined</mat-icon>
        } @else {
            <mat-icon class="icon-primary">favorite</mat-icon>
        }
    </button>

    <small>{{ post().upvoteCount }}</small>
</div>
