:host {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px 12px 0 0;
}

.description-container {
    min-width: 0;
    max-height: 5em;
    padding: 0.5rem;
    transition: max-height 0.3s ease;

    word-break: break-word;
    scrollbar-gutter: stable;

    display: flex;
    flex-direction: column;
    flex: 1;

    &:not(.expanded) {
        .description-title,
        .description-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.expanded {
        max-height: 10em;

        .description-text {
            margin-top: 5px;
            overflow-y: auto;
        }
    }
}

.upvote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
