<div class="description-container" [class.expanded]="isExpanded()">
    <div class="fx-row fx-align fx-gap-1">
        <b class="description-title">{{ post().title }}</b>

        <a matButton [routerLink]="[`/user/${post().author.username}`]">
            {{ post().author.username }}
        </a>

        <button matIconButton (click)="toggleExpand()">
            <mat-icon>{{ isExpanded() ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </button>
    </div>

    <span class="description-text">{{ post().description }}</span>
</div>

@if (showLikes()) {
    <button matButton (click)="upvoted.emit()">
        <mat-icon>{{ post().isUpvoted ? 'favorite' : 'favorite_outlined' }}</mat-icon>
        <p>{{ post().upvoteCount }}</p>
    </button>
}
