<span matDialogTitle>Pick your tags</span>

<mat-dialog-content [formGroup]="form">
    <div class="fx-col fx-gap-1">
        @for (tag of tags; track tag.name) {
            <div>
                <b class="text-primary">{{ tag.category | titlecase }}</b>
                <mat-chip-listbox
                    class="mat-mdc-chip-set-stacked"
                    multiple
                    [formControl]="form.controls[tag.category]"
                >
                    @for (item of tag.items; track $index) {
                        <mat-chip-option class="chip">
                            @if (tag.category === 'character') {
                                <mat-icon matChipAvatar [svgIcon]="item.icon" />
                            } @else {
                                <mat-icon matChipAvatar>{{ item.icon }}</mat-icon>
                            }

                            <span class="chip-text">{{ item.name }}</span>
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>
        }
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton matDialogClose>Cancel</button>
    <button matButton="filled" [matDialogClose]="tagList()">Pick</button>
</mat-dialog-actions>
