<span mat-dialog-title>Pick a username for your profile</span>

<mat-dialog-content>
    <p>This will be the only info shown to other users</p>

    <mat-form-field style="width: 100%" (keydown.enter)="submitUsername()">
        <input matInput placeholder="Username" [formControl]="username" />
        <app-form-async-suffix matSuffix [control]="username" />
        <mat-error [appFormError]="username" />
    </mat-form-field>

    <p id="terms">
        By creating an account, you agree to the
        <a routerLink="/terms">Terms of Service</a>. For more information about privacy practices,
        see the <a routerLink="/privacy">Privacy Policy</a>.
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button
        matButton="filled"
        [disabled]="username.invalid || username.pending"
        [mat-dialog-close]="username.value"
    >
        Pick name
    </button>
</mat-dialog-actions>
