<div class="fx-col fx-gap-1">
    <div class="search-container" role="search">
        <mat-icon>search</mat-icon>
        <input class="input" placeholder="Search for posts..." [formControl]="searchControl" />

        @if (searchControl.value) {
            <mat-icon class="clear-btn" (click)="clearSearch()">clear</mat-icon>
        }
    </div>

    <div class="fx-row fx-space fx-wrap fx-gap-05">
        <div class="fx-row fx-gap-05 fx-wrap">
            @for (filter of filters; track filter.name) {
                <button
                    [matButton]="selected()[filter.category] ? 'filled' : 'tonal'"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ category: filter.category, items: filter.items }"
                >
                    <mat-icon>{{ filter.icon }}</mat-icon>
                    <span>{{ selected()[filter.category] || filter.name }}</span>
                    <mat-icon iconPositionEnd>expand_more</mat-icon>
                </button>
            }
        </div>

        @if (hasSelected()) {
            <button matIconButton aria-label="Clear button" (click)="clearAllFilters()">
                <mat-icon class="icon-primary">delete_outline</mat-icon>
            </button>
        }
    </div>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-category="category" let-items="items">
        @for (item of items; track item) {
            <button mat-menu-item [value]="item" (click)="selectFilter(category, item.name)">
                @if (category === 'character') {
                    <mat-icon [svgIcon]="item.icon" />
                } @else {
                    <mat-icon>{{ item.icon }}</mat-icon>
                }
                <span>{{ item.name }}</span>
            </button>
        }

        <button mat-menu-item (click)="clearFilter(category)">
            <mat-icon>clear</mat-icon>
        </button>
    </ng-template>
</mat-menu>
