<div class="fx-col fx-gap-1">
    <form class="search-container" role="form" (submit)="$event.preventDefault(); submit()">
        <mat-icon>search</mat-icon>
        <input
            class="input"
            placeholder="Search for posts..."
            [formControl]="search"
            role="search"
        />

        <div class="fx-row fx-gap-05 fx-align">
            @if (search.value) {
                <mat-icon class="clear-btn" (click)="clearSearch()">clear</mat-icon>
            }

            <button matIconButton>
                <mat-icon class="icon-primary">send</mat-icon>
            </button>
        </div>
    </form>

    <div class="fx-row fx-space fx-wrap fx-gap-05">
        <div class="fx-row fx-gap-05 fx-wrap">
            @for (filter of filters; track filter.name) {
                <button
                    [matButton]="tags()[filter.category] ? 'tonal' : 'outlined'"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ category: filter.category, items: filter.items }"
                >
                    <mat-icon>{{ filter.icon }}</mat-icon>

                    <span>
                        @for (tag of tags()[filter.category]; track tag) {
                            {{ tag }}
                        } @empty {
                            {{ filter.name }}
                        }
                    </span>
                    <mat-icon iconPositionEnd>expand_more</mat-icon>
                </button>
            }
        </div>

        @if (hasSelectedTags()) {
            <button matIconButton aria-label="Clear button" (click)="clearAllFilters()">
                <mat-icon class="icon-primary">delete_outline</mat-icon>
            </button>
        }
    </div>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-category="category" let-items="items">
        @for (item of items; track item) {
            <button
                mat-menu-item
                [value]="item"
                (click)="$event.stopPropagation(); selectFilter(category, item.name)"
            >
                @if (category === 'character') {
                    <mat-icon [svgIcon]="item.icon" />
                } @else {
                    <mat-icon>{{ item.icon }}</mat-icon>
                }
                <span>{{ item.name }}</span>
            </button>
        }

        <button mat-menu-item (click)="clearFilter(category)">
            <mat-icon>clear</mat-icon>
        </button>
    </ng-template>
</mat-menu>
