@if (posts.isLoading()) {
    <mat-spinner />
} @else if (posts.error()) {
    <app-icon-text>
        <p class="text-error">Failed to fetch posts.</p>
        <button matButton (click)="posts.reload()">Retry</button>
    </app-icon-text>
} @else if (posts.hasValue() && posts.value().length) {
    <app-carousel [posts]="posts.value()" />
} @else {
    <p class="fx-center fx-align text-primary">Nothing to see here.</p>
}

@if (!promptClosed()) {
    <app-prompt class="prompt" (closed)="closePromptBox()" />
}
