@if (posts.isLoading()) {
    <mat-spinner />
} @else if (posts.error()) {
    <app-icon-text>
        <p class="text-error">Failed to fetch posts.</p>
        <button matButton (click)="posts.reload()">Retry</button>
    </app-icon-text>
} @else if (posts.hasValue() && posts.value().length) {
    <app-carousel [posts]="posts.value()" />
} @else {
    <p class="fx-center fx-align text-primary">Nothing to see here.</p>
}

@if (!promptClosed()) {
    <div class="prompt-box-container">
        <button class="outlined-box prompt" routerLink="/posts/create">
            <p class="typing">Launch Prompt: "200 years later".</p>
        </button>

        <button class="outlined-box close" (click)="closePromptBox()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
}
