@use '@angular/material' as mat;

.red-item {
    @include mat.menu-overrides(
        (
            item-icon-color: var(--mat-sys-error),
            item-label-text-color: var(--mat-sys-error)
        )
    );
}

.card {
    flex-shrink: 0;
    overflow: hidden;

    .img {
        object-fit: cover;
        transition: filter 200ms;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }
    }

    .menu {
        position: absolute;
        top: 5px;
        right: 5px;
        background: rgba(0, 0, 0, 0.2);
    }

    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}
