<mat-card class="card" [style.height]="height()" [style.width]="width()" appearance="outlined">
    <button (click)="openFullscreen()">
        <img class="img" [ngSrc]="post().imageId" priority fill placeholder alt="Preview" />
    </button>

    @if (this.post().isOwner) {
        <button matIconButton [matMenuTriggerFor]="menu" class="menu" aria-label="Menu button">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item class="red-item" (click)="delete()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    }

    <div class="description">
        @if (post().tags.length > 0) {
            <div class="chip-container" role="row">
                @for (tag of post().tags; track tag) {
                    <span class="chip">{{ tag | titlecase }}</span>
                }
            </div>
        }

        <app-description [post]="post()" />
    </div>
</mat-card>
