<mat-card class="card" [style.height]="height()" [style.width]="width()" appearance="outlined">
    <button (click)="openFullscreen()">
        <img #img class="img" [ngSrc]="post().imageId" priority fill placeholder alt="Preview" />
    </button>

    <button class="menu" matIconButton aria-label="Share button" (click)="shareLink()">
        <mat-icon>share</mat-icon>
    </button>

    <!-- <button matIconButton [matMenuTriggerFor]="menu" class="menu" aria-label="Menu button">
        <mat-icon>more_vert</mat-icon>
    </button> -->

    <div class="post-bottom">
        @if (post().tags.length > 0) {
            <div class="chip-container" role="row">
                @for (tag of post().tags; track tag) {
                    <span class="chip">{{ tag | titlecase }}</span>
                }
            </div>
        }

        <app-description [post]="post()" />
    </div>
</mat-card>

<!-- <mat-menu #menu="matMenu">
    @if (this.post().isOwner) {
        <button mat-menu-item class="red-item" (click)="delete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    }

    <button mat-menu-item [matMenuTriggerFor]="shareMenu">
        <mat-icon>share</mat-icon>
        <span>Share</span>
    </button>

    <button mat-menu-item (click)="download(img.src)">
        <mat-icon>download</mat-icon>
        <span>Download</span>
    </button>
</mat-menu>

<mat-menu #shareMenu="matMenu">
    <button mat-menu-item (click)="shareImg(img.src)">
        <mat-icon>image</mat-icon>
        <span>Image</span>
    </button>

    <button mat-menu-item (click)="shareLink()">
        <mat-icon>link</mat-icon>
        <span>Link</span>
    </button>
</mat-menu> -->
