:host {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    overflow: hidden;
    display: inline;
    border-radius: 14px;
}

.img-btn {
    padding: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;
    background: none;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 14px;

    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

.post-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    .chip-container {
        display: flex;
        column-gap: 0.5em;
        margin: 5px;

        .chip {
            padding: 0.3em 1em;
            border-radius: 12px;
            border: 1px solid gainsboro;
            background-color: var(--mat-sys-surface);
            color: var(--mat-sys-on-surface);
        }
    }
}
