<button class="create-btn" matButton="tonal" routerLink="create">
    <mat-icon>add</mat-icon>
    <span>Create Post</span>
</button>

<h2 class="fx-center">Featured</h2>

<div class="featured-container">
    @if (featuredPosts.isLoading()) {
        <mat-spinner />
    }

    @if (featuredPosts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts</p>
            <button matButton (click)="featuredPosts.reload()">Retry</button>
        </div>
    }

    @if (featuredPosts.hasValue()) {
        @for (post of featuredPosts.value(); track post.id) {
            <app-post [post]="post" [width]="400" [height]="500" (deleted)="refresh()" />
        } @empty {
            <p class="text-primary">No featured posts</p>
        }
    }
</div>

<h2 class="fx-center">Posts</h2>

<div class="mg-2 fx-col fx-align fx-gap-1">
    @if (posts.isLoading()) {
        <mat-spinner />
    }

    @if (posts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts</p>
            <button matButton (click)="posts.reload()">Retry</button>
        </div>
    }

    @if (posts.hasValue()) {
        @for (post of posts.value(); track post.id) {
            <app-post class="post" [post]="post" [height]="600" (deleted)="refresh()" />
        } @empty {
            <div class="fx-col fx-align">
                <p class="text-primary">No posts to show</p>
                <button matButton="tonal" routerLink="create">
                    <mat-icon>add</mat-icon>
                    <span>Create the first post</span>
                </button>
            </div>
        }
    }
</div>
