<button class="create-btn" matButton="tonal" routerLink="create">
    <mat-icon>add</mat-icon>
    <span>Create Post</span>
</button>

<h2 class="fx-center">Featured</h2>

<div class="featured-container">
    @if (featuredPosts.isLoading()) {
        <mat-spinner />
    } @else if (featuredPosts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts</p>
            <button matButton (click)="featuredPosts.reload()">Retry</button>
        </div>
    } @else {
        @for (post of featuredPosts.value(); track post.id) {
            <app-post [post]="post" [width]="400" [height]="500" />
        } @empty {
            <p>No posts found</p>
        }
    }
</div>

<h2 class="fx-center">Posts</h2>

<div class="mg-2 fx-col fx-gap-1">
    @if (posts.isLoading()) {
        <mat-spinner />
    } @else if (posts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts</p>
            <button matButton (click)="posts.reload()">Retry</button>
        </div>
    } @else {
        @for (post of posts.value(); track post.id) {
            <app-post [post]="post" [height]="600" />
        } @empty {
            <p class="text-error">Did not find any posts.</p>
        }
    }
</div>
