.create-btn {
    z-index: 10;
    position: sticky;
    top: 0;
    float: right;
}

.featured-container {
    margin: 1rem;
    display: flex;
    justify-content: safe center;
    gap: 1rem;

    overflow-x: auto;
    border-radius: 1rem;

    > .post {
        width: 400px;
        height: 500px;
    }
}

.posts-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > .post {
        height: 600px;
    }
}
