:host {
    width: 100%;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
}

[ngTabs] {
    width: 1200px;
}

[ngTabList] {
    gap: 1rem;
    display: flex;
    justify-content: center;
}

[ngTab] {
    width: 100px;
    padding: 0.6rem;
    cursor: pointer;
    text-align: center;
    outline: 2px solid gainsboro;
    background-color: rgba(black, 0.8);
    border-radius: 10px;

    &[aria-selected='true'] {
        outline: double 8px gainsboro;
        outline-offset: -2px;
    }

    &:focus,
    &:hover {
        outline-color: white;
    }
}

[ngTabPanel] {
    padding: 1rem;
    margin-top: 1rem;
    min-height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &[inert] {
        display: none;
    }
}
