.container {
    margin: 0 auto;
    padding: 3rem;
    width: 400px;
    max-width: 100%;

    border: 8px double gainsboro;
    corner-shape: scoop;
    border-radius: 18px;
    background-color: rgba(black, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
