<form [formGroup]="form" (submit)="login()">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Authenticate</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="fx-col">
                <mat-form-field>
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" />
                    <mat-error>Field is required</mat-error>
                </mat-form-field>

                <mat-form-field appFormError>
                    <mat-icon matPrefix>key</mat-icon>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error>Field is required</mat-error>
                </mat-form-field>

                @if (errorMessage()) {
                    <p class="text-error">{{ errorMessage() }}</p>
                }
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button
                mat-flat-button
                type="submit"
                [appLoading]="loading()"
                [disabled]="form.invalid || loading()">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</form>
