@use '@angular/material' as mat;
@use './theme-colors' as theme;
@use './typography';
@use '../app/layout/layout-theme' as layout;

html {
   color-scheme: light dark;

   @include mat.theme(
      (
         color: (
            primary: theme.$primary-palette,
            tertiary: theme.$tertiary-palette,
         ),
         typography: Roboto,
         density: 0,
      )
   );

   @include layout.theme;
}

mat-card-header {
   margin-bottom: 20px;
}
