@if (!success()) {
    <form class="form-fields" (submit)="submit()">
        <mat-form-field>
            <mat-icon matPrefix>key</mat-icon>
            <mat-label>New password</mat-label>
            <input matInput type="password" [formControl]="password" />
            <mat-error [appFormError]="password" />
        </mat-form-field>

        @if (errorMessage()) {
            <p class="text-error">{{ errorMessage() }}</p>
        }

        <div>
            <button
                type="submit"
                mat-flat-button
                [appLoading]="loading()"
                [disabled]="loading() || password.invalid"
            >
                Set new password
            </button>
        </div>
    </form>
} @else {
    <app-result-card>
        <mat-icon class="icon-primary">check</mat-icon>
        <span class="text-primary">Password reset successfully!</span>
    </app-result-card>
}
