<form class="form-fields" [formGroup]="form" (submit)="submit()">
    <mat-form-field>
        <mat-label>new Password</mat-label>
        <mat-icon matPrefix>key</mat-icon>
        <input matInput type="password" [formControl]="form.controls.password" />
        <mat-error [appFormError]="form.controls.password" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <mat-icon matPrefix>key</mat-icon>
        <input matInput type="password" [formControl]="form.controls.passwordConfirm" />
        <mat-error [appFormError]="form.controls.passwordConfirm" />
    </mat-form-field>

    @if (errorMessage()) {
        <p class="text-error">{{ errorMessage() }}</p>
    }

    @if (success()) {
        <mat-card>
            <mat-card-content>
                <div class="fx-row fx-align fx-gap-1 text-primary">
                    <mat-icon>check</mat-icon>
                    <span>Password reset successfully!</span>
                </div>
            </mat-card-content>
        </mat-card>
    }

    <div>
        <button
            type="submit"
            mat-flat-button
            [appLoading]="loading()"
            [disabled]="loading() || form.invalid">
            Set new password
        </button>
    </div>
</form>
