<div class="container">
    <div
        class="drop-zone"
        [class.drag-over]="isDragging()"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onFileDropped($event, fileInput)"
    >
        <input
            #fileInput
            type="file"
            hidden
            enctype="multipart/form-data"
            [accept]="acceptedFileTypes"
            (change)="onFileSelected($event)"
        />

        @if (isDragging()) {
            <p>Drop your file here</p>
        } @else if (filePreviewUrl()) {
            <img class="img" [src]="filePreviewUrl()" alt="Uploaded preview" />
            <button class="delete-btn" matIconButton (click)="removeFile(fileInput)">
                <mat-icon>delete</mat-icon>
            </button>
        } @else {
            <mat-icon>cloud_upload</mat-icon>
            <p>Drag an image here, or click to select</p>
            <p>Max file size: {{ maxFileSize() }}</p>
            <button class="fit" matButton="tonal" (click)="fileInput.click()">Browse</button>
        }
    </div>

    @if (file() && fileSize()) {
        <p>{{ file()!.name }} - {{ fileSize() }}</p>
    }

    @if (errorMessage()) {
        <app-icon-text class="mg-1">
            <mat-icon class="icon-error">error</mat-icon>
            <span class="text-error">{{ errorMessage() }}</span>
        </app-icon-text>
    }
</div>
