.card {
    max-width: 800px;
    margin: 0 auto;

    .header {
        margin-bottom: 1.5rem;

        .title {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
}
