@if (profile.isLoading()) {
    <mat-spinner />
}

@if (profile.error()) {
    <div class="fit mg-center">
        <h6>{{ errorMessage() }}</h6>
    </div>
}

@if (profile.hasValue()) {
    @let value = profile.value();

    <div class="pic-container">
        @if (value.isSelf) {
            <img
                class="editable"
                [src]="`assets/${value.picture}.svg`"
                alt="Profile picture"
                matTooltip="Click to edit"
                [matMenuTriggerFor]="menu"
            />
            <button matButton (click)="pickUsername()">{{ value.username }}</button>
        } @else {
            <img [src]="`assets/${value.picture}.svg`" alt="Profile picture" />
            <span>{{ value.username }}</span>
        }
    </div>

    <mat-list>
        @if (value.isSelf) {
            <mat-list-item>
                <span matListItemTitle>Email</span>
                <span matListItemLine>{{ value.email }}</span>
            </mat-list-item>
        }

        <mat-list-item>
            <span matListItemTitle>Joined</span>
            <span matListItemLine>{{ value.createdAt | date }}</span>
        </mat-list-item>
    </mat-list>

    <h4>{{ value.isSelf ? 'Your' : `${value.username}'s` }} posts</h4>

    @if (posts.isLoading()) {
        <mat-spinner />
    }

    @if (posts.error()) {
        <div class="fx-row fx-align fx-gap-1">
            <p class="text-error">Failed to fetch posts.</p>
            <button matButton (click)="posts.reload()">Retry</button>
        </div>
    }

    @if (posts.hasValue()) {
        <div style="display: flex; gap: 1rem; flex-wrap: wrap">
            @for (post of posts.value(); track post.id) {
                <app-post [post]="post" [width]="300" [height]="400" (deleted)="reloadPosts()" />
            } @empty {
                <button matButton="tonal" routerLink="/posts/create">
                    <mat-icon>add</mat-icon>
                    <span>Create your first Post</span>
                </button>
            }
        </div>
    }
}

<mat-menu #menu>
    @for (picture of rainWorld | keyvalue; track $index) {
        <button
            mat-menu-item
            [matMenuTriggerFor]="subMenu"
            [matMenuTriggerData]="{ list: picture.value }"
        >
            {{ picture.key }}
        </button>
    }
</mat-menu>

<mat-menu #subMenu>
    <ng-template matMenuContent let-list="list">
        @for (element of list; track element) {
            <button mat-menu-item (click)="pickProfilePicture(element.icon)">
                <mat-icon [svgIcon]="element.icon" />
                <span>{{ element.name }}</span>
            </button>
        }
    </ng-template>
</mat-menu>
