.pic-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 10px;

    img {
        border-radius: 50%;
        height: 60px;
        width: 60px;

        &.editable {
            cursor: pointer;
        }
    }
}

.post-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    > app-post {
        width: 250px;
        height: 350px;
    }
}
