.profile-section {
    max-width: 500px;
    margin: 0 auto;
}

.pic-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 10px;

    img {
        border-radius: 50%;
        height: 60px;
        width: 60px;

        &.editable {
            cursor: pointer;
        }
    }
}

.post-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    > app-post-card {
        width: 300px;
        height: 400px;
    }
}
