<div class="fx-col fx-gap-1">
   <h2 style="margin: 0 auto">Featured</h2>

   <div class="fx-center fx-align fx-gap-1">
      <button mat-icon-button (click)="previous()">
         <mat-icon>chevron_left</mat-icon>
      </button>

      <div
         class="fx-row"
         role="row"
         style="width: 300px; height: 500px; background-color: lavender; border-radius: 14px">
         <div style="display: flex; align-items: flex-end; width: 100%">
            <div class="mg-1" style="width: 100%; height: 60px; overflow-y: auto">
               <p style="color: black; line-height: 1px">
                  <b>Post ID:</b> {{ imageRef.value()?.id }}
               </p>
               <p style="color: black"><b>Post Name:</b> {{ imageRef.value()?.title }}</p>
            </div>
         </div>
      </div>

      <button mat-icon-button (click)="next()">
         <mat-icon>chevron_right</mat-icon>
      </button>
   </div>

   <button mat-flat-button style="width: fit-content; margin: 20px auto" (click)="randomizePost()">
      <mat-icon>star</mat-icon>
      <span>Randomize</span>
   </button>
</div>

<mat-card appearance="outlined" style="max-width: 400px; margin: 0 auto">
   <mat-card-header>
      <mat-card-title>Prompt of the week:</mat-card-title>
   </mat-card-header>

   <mat-card-content style="margin-top: 20px">Example prompt</mat-card-content>
</mat-card>

<p>{{ imageRef.error()?.message }}</p>
