.container {
    margin: 1rem auto;
    padding: 1rem;
    width: 800px;
    max-width: 100%;

    border: 8px double gainsboro;
    border-radius: 18px;
    corner-shape: scoop;
    background-color: rgba(black, 0.8);
}

.filter {
    margin-bottom: 1.5rem;
}
