<mat-card class="container">
    <app-filter class="filter" (filtered)="filterPosts($event)" />

    <div class="fx-col fx-gap-1">
        @if (postResource.isLoading()) {
            <mat-spinner />
        }

        @if (postResource.error()) {
            <app-icon-text>
                <p class="text-error">Failed to fetch posts</p>
                <button matButton (click)="postResource.reload()">Retry</button>
            </app-icon-text>
        }

        @if (postResource.hasValue()) {
            @for (post of posts(); track post.id) {
                <mat-card class="post-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <a
                                class="link text-primary"
                                [routerLink]="['/user', post.author.username]"
                            >
                                {{ post.author.username }}
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle>{{ post.title }}</mat-card-subtitle>

                        <img matCardAvatar [src]="`assets/${post.author.picture}.svg`" />

                        <app-post-menu [post]="post" class="post-menu" />
                    </mat-card-header>

                    <mat-card-content class="post-container">
                        <app-post [post]="post" />
                    </mat-card-content>
                </mat-card>
            } @empty {
                <p class="fx-center text-primary">Could not find any posts.</p>
            }

            @if (posts().length < totalPostCount()) {
                <button
                    matButton
                    [disabled]="postResource.isLoading()"
                    [appLoading]="postResource.isLoading()"
                    (click)="loadMorePosts()"
                >
                    Load more
                </button>
            }
        }
    </div>
</mat-card>
