:host {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    border: 8px double gainsboro;
    border-radius: 18px;
    corner-shape: scoop;
    background-color: rgba(black, 0.8);
}

.post {
    max-height: 500px;

    outline: 2px solid gainsboro;
    border-radius: 10px;
    outline-offset: 8px;
    overflow: hidden;

    transition: outline 100ms ease-out;

    &:hover,
    &:focus {
        outline-style: double;
        outline-width: 8px;
        outline-offset: 10px;
        border-radius: 10px;
    }
}
