<div class="container">
    <div class="filter">
        <app-filter (filtered)="filterPosts($event)" />
    </div>

    <mat-card class="pad-1 fx-col fx-gap-2" appearance="outlined">
        @if (postResource.isLoading()) {
            <mat-spinner />
        }

        @if (postResource.error()) {
            <app-icon-text>
                <p class="text-error">Failed to fetch posts</p>
                <button matButton (click)="postResource.reload()">Retry</button>
            </app-icon-text>
        }

        @if (postResource.hasValue()) {
            @for (post of posts(); track post.id) {
                <app-post class="post" [post]="post" (deleted)="refresh()" />
            } @empty {
                <p class="fx-center text-primary">Could not find any posts.</p>
            }

            @if (posts().length < totalPostCount()) {
                <button
                    matButton
                    [disabled]="postResource.isLoading()"
                    [appLoading]="postResource.isLoading()"
                    (click)="loadMorePosts()"
                >
                    Load more
                </button>
            }
        }
    </mat-card>
</div>
