@if (!success()) {
    <form class="fx-col fx-gap-1" (submit)="$event.preventDefault(); submit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput [formControl]="email" />
            <mat-error [appFormError]="email" />
        </mat-form-field>

        @if (errorMessage()) {
            <p class="text-error">{{ errorMessage() }}</p>
        }

        <div class="fx-col" style="width: fit-content">
            <button
                type="submit"
                mat-flat-button
                [appLoading]="loading()"
                [disabled]="loading() || email.invalid">
                Send recovery link
            </button>
        </div>
    </form>
} @else {
    <app-result-card>
        <mat-icon class="icon-primary">done</mat-icon>
        <span class="text-primary">
            A reset link has been sent to
            <b>{{ email.value }}</b>
            . Follow it to create a new password.
        </span>
    </app-result-card>
}
