[ngMenuTrigger]:hover,
[ngMenuTrigger]:focus {
    border: 3px solid var(--border-color-focused);
}

[ngMenu] {
    margin: 0;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: black;

    &[data-visible='false'] {
        display: none;
    }
}

[ngMenuItem] {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 1em;
    margin: 1px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5em;

    &:focus {
        outline: 2px solid var(--border-color);
    }

    .label {
        flex: 1;
        opacity: 0.875;
        font-size: 0.7rem;
    }
}
