@if (profile.isLoading()) {
    <mat-spinner diameter="24" />
} @else if (!profile.hasValue() || profile.error()) {
    <a matButton routerLink="auth/login">Login</a>
    <a matButton="filled" routerLink="auth/signup">Sign up</a>
} @else {
    <button
        class="large-image-button"
        matIconButton
        [matMenuTriggerFor]="menu"
        aria-label="Profile">
        @if (profile.value().picture; as picUrl) {
            <img [src]="picUrl" alt="profile picture" referrerPolicy="no-referrer" />
        } @else {
            <mat-icon>account_circle</mat-icon>
        }
    </button>

    <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Hello, {{ profile.value().username }}!</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <span matListItemTitle>E-Mail</span>
                            <span matListItemLine>{{ profile.value().email }}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>

                <mat-card-actions align="end">
                    <a matButton [routerLink]="[`user/${profile.value().username}`]">Profile</a>
                    <button mat-button (click)="logout()">Logout</button>
                </mat-card-actions>
            </mat-card>
        </ng-template>
    </mat-menu>
}
