@use '@angular/material' as mat;

.large-image-button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mat.icon-button-overrides(
        (
            icon-size: 32px
        )
    );

    img {
        border-radius: 50%;
    }
}
