@if (profile(); as profile) {
    <button class="rw-btn" ngMenuTrigger #origin #trigger="ngMenuTrigger" [menu]="formatMenu()">
        <app-icon-text>
            <mat-icon [svgIcon]="profile.picture" />
            <span>{{ profile.username }}</span>
        </app-icon-text>
    </button>

    <ng-template
        [cdkConnectedOverlayOpen]="trigger.expanded()"
        [cdkConnectedOverlay]="{ origin, usePopover: 'inline' }"
        cdkAttachPopoverAsChild
    >
        <div ngMenu class="menu" #formatMenu="ngMenu">
            <ng-template ngMenuContent>
                <a
                    class="link"
                    ngMenuItem
                    value="profile"
                    [routerLink]="[`user/${profile.username}`]"
                >
                    <span class="label">Profile</span>
                </a>

                <div ngMenuItem value="log out">
                    <span class="label" (click)="logout()">Log out</span>
                </div>
            </ng-template>
        </div>
    </ng-template>
} @else {
    <a class="rw-btn" routerLink="auth/login">Login</a>
}

<!-- @if (profile(); as profile) {
    <button
        class="rw-btn"
        cdkOverlayOrigin
        #origin="cdkOverlayOrigin"
        (click)="isOpen.set(!isOpen())"
    >
        <app-icon-text>
            <mat-icon [svgIcon]="profile.picture" />
            <span>{{ profile.username }}</span>
        </app-icon-text>
    </button>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="origin"
        [cdkConnectedOverlayOpen]="isOpen()"
        (overlayOutsideClick)="isOpen.set(false)"
        (detach)="isOpen.set(false)"
    >
        <div style="display: flex; flex-direction: column; padding: 1rem">
            <a class="rw-btn" [routerLink]="[`user/${profile.username}`]">Profile</a>
            <button class="rw-btn" (click)="logout()">Log out</button>
        </div>
    </ng-template>
} @else {
    <a class="rw-btn primary" routerLink="auth/login">Login</a>
} -->
