<mat-card appearance="outlined">
   @if (profile.isLoading()) {
      <mat-spinner diameter="24" />
   }

   @if (profile.error()) {
      <p>{{ profile.error()?.message }}</p>
   }

   @if (profile.hasValue()) {
      <mat-card-header>
         <mat-card-title>
            {{ profile.value().username | titlecase }}
         </mat-card-title>
      </mat-card-header>

      <mat-card-content>
         <mat-list>
            <mat-list-item>
               <span matListItemTitle>ID</span>
               <span matListItemLine>{{ profile.value().sub }}</span>
            </mat-list-item>

            <mat-list-item>
               <span matListItemTitle>Issued</span>
               <span matListItemLine>{{ profile.value().iat * 1000 | date: 'short' }}</span>
            </mat-list-item>

            <mat-list-item>
               <span matListItemTitle>Expires</span>
               <span matListItemLine>{{ profile.value().exp * 1000 | date: 'short' }}</span>
            </mat-list-item>
         </mat-list>
      </mat-card-content>
   }
</mat-card>
