@use '@angular/material' as mat;

@mixin theme {
    .sidenav-scroll-wrapper {
        background: var(--mat-sys-surface-container-low);
    }

    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-surface-container),
            container-text-color: var(--mat-sys-on-surface-container)
        )
    );

    @include mat.sidenav-overrides(
        (
            container-background-color: var(--mat-sys-surface-container),
            container-text-color: var(--mat-sys-on-surface-container),
            content-background-color: var(--mat-sys-surface-container),
            content-text-color: var(--mat-sys-on-surface-container)
        )
    );
}
