<mat-toolbar>
    <a class="home-link" routerLink="/">RW Art Gallery</a>

    <span class="spacer"></span>

    <div class="fx-row fx-gap-1">
        @if (isHandset()) {
            <button matIconButton aria-label="Feedback button" routerLink="/feedback">
                <mat-icon>chat</mat-icon>
            </button>
        } @else {
            <button matButton routerLink="/feedback">
                <mat-icon>chat</mat-icon>
                <span>Feedback</span>
            </button>
        }

        @defer {
            <app-profile-button />
        }
    </div>
</mat-toolbar>

<div class="scroll-wrapper">
    <ng-content />
</div>
