<mat-sidenav-container>
    <mat-sidenav
        #drawer
        class="sidenav"
        [attr.role]="isHandset() ? 'dialog' : 'navigation'"
        [mode]="isHandset() ? 'over' : 'side'"
        [opened]="isHandset() === false">
        <mat-toolbar>Menu</mat-toolbar>

        <mat-nav-list>
            @for (link of links; track link.path) {
                <a mat-list-item [routerLink]="link.path">
                    <span>{{ link.label }}</span>
                    <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
                </a>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            @if (isHandset()) {
                <button
                    type="button"
                    matIconButton
                    aria-label="Sidenav toggle"
                    (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            }

            <a class="home-link" routerLink="/">Rain World Exhibition</a>

            <span class="spacer"></span>

            @defer {
                <app-profile-button />
            }
        </mat-toolbar>

        <div class="sidenav-scroll-wrapper">
            <ng-content />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
