.page {
    min-height: calc(100vh + 48px);
    display: flex;
    flex-direction: column;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
}

.home-link {
    all: unset;
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
    }
}

.spacer {
    flex: 1 1 auto;
}

.content {
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    background: var(--mat-sys-surface-container-low);

    a {
        color: var(--mat-sys-on-surface-variant);
        text-decoration: none;
    }
}
