.home-link {
    all: unset;
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
    }
}

.spacer {
    flex: 1 1 auto;
}

.scroll-wrapper {
    padding: 16px;
    box-sizing: border-box;
    height: calc(100dvh - 64px - 16px);
    overflow: auto;
}
