html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.fx-center {
  display: flex;
  justify-content: center;
}

.fx-align {
  display: flex;
  align-items: center;
}

.fx-gap-1 {
  display: flex;
  gap: 1rem;
}

.mg-1 {
  margin: 1rem;
}

.pad-1 {
  padding: 1rem;
}
