html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.link {
    text-decoration: none;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.fx-center {
    display: flex;
    justify-content: center;
}

.fx-align {
    display: flex;
    align-items: center;
}

.fx-gap-05 {
    display: flex;
    gap: 0.5rem;
}

.fx-gap-1 {
    display: flex;
    gap: 1rem;
}

.fx-gap-2 {
    display: flex;
    gap: 2rem;
}

.fx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.fx-space {
    display: flex;
    justify-content: space-between;
}

.mg-center {
    margin: 0 auto;
}

.mg-1 {
    margin: 1rem;
}

.mg-2 {
    margin: 2rem;
}

.pad-1 {
    padding: 1rem;
}

.pad-2 {
    padding: 2rem;
}

.fit {
    width: fit-content;
}
