<div class="post-container">
    <a class="mg-1" matButton routerLink="/posts">
        <mat-icon>chevron_left</mat-icon>
        <span>All posts</span>
    </a>

    @if (post.isLoading()) {
        <mat-spinner />
    } @else if (post.error()) {
        <app-icon-text>
            <mat-icon class="icon-error">error_outline</mat-icon>
            <h3 class="text-error">Failed to fetch post.</h3>
        </app-icon-text>
    } @else if (post.hasValue()) {
        <app-post-card [post]="post.value()" />
    }
</div>
